.container {
  height: fit-content;
  width: fit-content;
  margin: auto;
  position: relative;            
  top: 50%;                      
  transform: translate(0, -50%);
}
.header {
  color: var(--foreground-rgb);
  font-size: 50px;
  font-weight: bold;
  font-family: antihero;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.header u {
  font-size: 70px;
  color: red;
}

.giturl {
    font-size: 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

