.container {
  height: fit-content;
  width: fit-content;
  margin: 50px auto;
}
.header {
  color: var(--foreground-rgb);
  font-size: 45px;
  font-weight: bold;
  font-family: antihero;
  margin: auto;
  width: fit-content;
  text-align: center;
  margin-bottom: 50px;
}

.header u {
  font-size: 70px;
  color: red;
}

.giturl {
  font-size: 15px;
  position: absolute;
  right: 10px;
  bottom: 5px;
}

